.lead__caption {
  margin: 0;
  line-height: 13px;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  align-self: flex-start;
  padding-top: 8px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}
